In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

In [2]:
answers = pd.read_csv('archive/Answers.csv', encoding='latin-1')
questions = pd.read_csv('archive/Questions.csv', encoding='latin-1')
tags =  pd.read_csv('archive/Tags.csv', encoding='latin-1')

In [37]:
answers.head()

,Id,OwnerUserId,CreationDate,ParentId,Score,Body
0,92,61.0,2008-08-01T14:45:37Z,90,13,"<p><a href=""http://svnbook.red-bean.com/"">Vers..."
1,124,26.0,2008-08-01T16:09:47Z,80,12,<p>I wound up using this. It is a kind of a ha...
2,199,50.0,2008-08-01T19:36:46Z,180,1,<p>I've read somewhere the human eye can't dis...
3,269,91.0,2008-08-01T23:49:57Z,260,4,"<p>Yes, I thought about that, but I soon figur..."
4,307,49.0,2008-08-02T01:49:46Z,260,28,"<p><a href=""http://www.codeproject.com/Article..."

In [38]:
questions.head()

,Id,OwnerUserId,CreationDate,ClosedDate,Score,Title,Body
0,80,26.0,2008-08-01T13:57:07Z,NaN,26,SQLStatement.execute() - multiple queries in o...,<p>I've written a database generation script i...
1,90,58.0,2008-08-01T14:41:24Z,2012-12-26T03:45:49Z,144,Good branching and merging tutorials for Torto...,<p>Are there any really good tutorials explain...
2,120,83.0,2008-08-01T15:50:08Z,NaN,21,ASP.NET Site Maps,<p>Has anyone got experience creating <strong>...
3,180,2089740.0,2008-08-01T18:42:19Z,NaN,53,Function for creating color wheels,<p>This is something I've pseudo-solved many t...
4,260,91.0,2008-08-01T23:22:08Z,NaN,49,Adding scripting functionality to .NET applica...,<p>I have a little game written in C#. It uses...

In [3]:
questions_sample = questions.sample(frac=0.3, replace=False, random_state=1)

In [14]:
questions_sample = questions_sample.reset_index()

In [4]:
questions.shape

(1264216, 7)

In [5]:
questions_sample.shape

(379265, 7)

In [39]:
answers_questions = pd.merge(questions_sample, answers, how='inner', left_on='Id', right_on='ParentId')

In [40]:
answers_questions.head()

,index,Id_x,OwnerUserId_x,CreationDate_x,ClosedDate,Score_x,Title,Body_x,Id_y,OwnerUserId_y,CreationDate_y,ParentId,Score_y,Body_y
0,345874,12395950,795000.0,2012-09-12T20:45:35Z,2016-10-05T20:53:44Z,2,Calling Twain driver from 64 bit application,<p>I need to call TWAIN API from .NET (C#) app...,12395998,330280.0,2012-09-12T20:49:31Z,12395950,2,"<p>No, unfortunately not. As far as i know doe..."
1,654403,22426350,1378959.0,2014-03-15T16:17:17Z,NaN,0,Why does variable in struct instance change af...,<p>This is really weird.</p>\n\n<p>I have a st...,22426433,3423234.0,2014-03-15T16:23:41Z,22426350,0,<p>The code you are showing misses one importa...
2,574386,19842160,2429569.0,2013-11-07T17:07:34Z,NaN,0,dynamically creating text fields lands up in d...,"<p>I'm having issues with the below code,\nwhe...",19843173,2356203.0,2013-11-07T17:54:45Z,19842160,1,<p>The problem stems from using <code>.on</cod...
3,671187,22953000,3513576.0,2014-04-09T04:48:04Z,NaN,0,Javascript in PHP/HTML hiding Div not working,<p>I am new to coding so be gentle. I am buil...,22953369,2461024.0,2014-04-09T05:17:09Z,22953000,0,<p>Here is a revised vision of your code I did...
4,1088725,35528560,1712334.0,2016-02-20T20:24:29Z,NaN,0,Design a compareTo that can sort in ascending ...,<p>I have a class States that is an object tha...,35528605,4954114.0,2016-02-20T20:28:13Z,35528560,3,<p>You could make the list descending by rever...

In [41]:
answers_questions.shape

(604046, 14)

In [42]:
answers_sample = answers_questions[['Id_y', 'OwnerUserId_y','CreationDate_y', 'ParentId', 'Score_y', 'Body_y' ]]

In [44]:
answers_sample.columns = ['Id', 'OwnerUserId','CreationDate', 'ParentId', 'Score', 'Body' ]

In [46]:
answers_sample.sort_values(by='ParentId')

,Id,OwnerUserId,CreationDate,ParentId,Score,Body
394751,10008,1109.0,2008-08-13T16:09:09Z,80,6,"<p>The <a href=""http://en.wikipedia.org/wiki/S..."
394752,3770976,364174.0,2010-09-22T15:37:30Z,80,1,<p>What about making your delimiter something ...
394750,124,26.0,2008-08-01T16:09:47Z,80,12,<p>I wound up using this. It is a kind of a ha...
54524,59760,5845.0,2008-09-12T19:00:13Z,180,17,<p>It would be best to find colors maximally d...
54527,1499720,115432.0,2009-09-30T18:00:26Z,180,0,"<p>Last I checked <a href=""http://www.jfree.or..."
...,...,...,...,...,...,...
383221,40142857,4228492.0,2016-10-19T23:00:25Z,40142450,0,"<p>The <a href=""https://msdn.microsoft.com/en-..."
296519,40142627,6820506.0,2016-10-19T22:36:26Z,40142470,0,<p>OOOOPS \nFound the clue and (incomplete) an...
296520,40142630,4162641.0,2016-10-19T22:36:43Z,40142470,1,<p>you've got a <code>https</code> issue (tryi...
417346,40143212,1491895.0,2016-10-19T23:38:17Z,40143190,5,<p>Use a here-doc:</p>\n\n<pre><code>result=$(...
417347,40143247,333403.0,2016-10-19T23:42:35Z,40143190,0,"<p>Tanks to <a href=""http://stackoverflow.com/..."

In [47]:
answers_sample.to_csv('answers_sample.csv')

In [48]:
questions_sample.to_csv('questions_sample.csv')